* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #024950;
  font-family: "Roboto";
  padding-bottom: 20px;
}

.header {
  background-color: #003135;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  height: 60px;
}

.header h1, p {
  color: #afdde5;
}

.header h1 {
  font-family: "Press Start 2P";
  font-size: 25px;
}

.header i {
 font-size: 25px;
 margin-left: 10px;
}

.header p {
  font-size: 18px;
  position: relative;
}

.header p::after {
  content: '';
  height: 3px;
  width: 0;
  background: #0fa4af;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.header p:hover::after {
  width: 100%;
}

.header a {
  text-decoration: none;
  color: #afdde5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #afdde5;
  text-align: center;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  box-shadow: 0 0 10px black;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
}

.button button,
.change {
  background-color: transparent;
  color: #afdde5;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.blackSpan {
  background-color: #000000;
}

.greySpan {
  background-color: grey;
}

.randomSpan {
  background: linear-gradient(45deg, #00bfff, #ba55d3, #ffd700);
}

.eraserSpan {
  background-color: white;
}

.blackSpan,
.greySpan,
.randomSpan,
.eraserSpan,
.resetSpan,
.changeSpan {
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.black:hover .blackSpan,
.grey:hover .greySpan,
.random:hover .randomSpan,
.eraser:hover .eraserSpan,
.change:hover .changeSpan {
  width: 100%;
}

input {
  background-color: transparent;
  color: #afdde5;
  width: 300px;
  padding-left: 10px;
  height: 35px;
  border: 2px solid #0fa4af;
  border-radius: 25px;
  font-size: 14px;
}

.change {
  border: 2px solid #0fa4af;
}

.changeSpan {
  background-color: #0fa4af;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 2px solid #0fa4af;
  border-radius: 25px;
  padding: 10px 0px;
}